body    {
    margin: 0;
}

.main   {
    background-image: url(./vader.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}

.instructions   {
    font-style: italic;
}

li  {
    list-style-type: none;
}

.item {
    display: flex;
}

button  {
    position: relative;
    left: 40px;
}

.modal  {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: .8;
}

.modalMember    {
    height: 20px;
    margin-left: 10px;
}

.inevitable {
    font-size: xxx-large;
    font-style: bold;
}