body    {
    margin: 0;
}

.main   {
    background-image: url(./vader.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}

.input  {
    position: relative;
    left: 40px;
}

/* find a star wars font */